@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900');


/* 초기화 reset css */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
    font-size: 14px;
    color: #333;
    overflow-x: hidden;
    word-break: keep-all;
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

input,
textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
    font-size: initial;
    color: initial;
    box-sizing: border-box;
}


img {
    width: 100%;
    border: 0;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

input::placeholder,
textarea::placeholder {
    color: #ccc;
}

::-moz-input-placeholder,
::-moz-textarea-placeholder {
    color: #ccc;
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
    color: #ccc;
}