@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquare', sans-serif;
    font-size: 16px;
    color: #333;
    overflow-x: hidden;
    word-break: keep-all;
    line-height: 1;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

.clb::after {
    content: "";
    clear: both;
    display: block;
}

.clb .fll {
    float: left;
}

.clb .flr {
    float: right;
}

.df {
    display: flex;
}

.fz54 {
    font-size: 54px;
}

.fz50 {
    font-size: 50px;
}

.fz48 {
    font-size: 48px;
}

.fz38 {
    font-size: 38px;
}

.fz36 {
    font-size: 36px;
}

.fz35 {
    font-size: 35px;
}

.fz32 {
    font-size: 32px;
}

.fz30 {
    font-size: 30px;
}

.fz26 {
    font-size: 26px;
}

.fz25 {
    font-size: 25px;
}

.fz24 {
    font-size: 24px;
}

.fz22 {
    font-size: 22px;
}

.fz20 {
    font-size: 20px;
}

.fz19 {
    font-size: 19px;
}

.fz18 {
    font-size: 18px;
}

.fz17 {
    font-size: 17px;
}

.fw700 {
    font-weight: 700;
}

.fw500 {
    font-weight: 500;
}

.wrap-1920 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.main-visual {
    height: 500px;
    background-image: url(../img/main_visual.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-visual .inner-tx {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 80px 0;
    color: #fff;
    box-sizing: border-box;
}

.main-visual .fz54 {
    color: #1affd1;
    font-weight: 700;
}

.main-visual .fz48 {
    margin-top: 10px;
    margin-bottom: 70px;
    font-weight: 700;
}

.main-visual .btn {
    width: 250px;
    line-height: 54px;
    margin-top: 25px;
    border-radius: 40px;
    background-color: #7e65ff;
    text-align: center;
}

.con1 {
    background-color: #f8f8f8;
}

.con1 .clb {
    width: 863px;
    margin: 0 auto;
}

.con1 .fll {
    width: 32%;
    height: 380px;
    margin-right: 2%;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
}

.con1 .fll:nth-child(1) {
    margin-top: -60px;
}

.con1 .fll:nth-child(2) {
    margin-top: -40px;
}

.con1 .fll:nth-child(3) {
    margin-top: -20px;
}

.con1 .fll:last-child {
    margin-right: 0;
}

.con1 .fll>img {
    margin-bottom: 25px;
}

.con1 .fll .fz22 {
    color: #555;
    line-height: 36px;
}

.con1 .fll .fz22 span {
    position: relative;
    z-index: 1;
}

.con1 .fll .fz22 span::after {
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #a8f0e2;
}

.con1 .fll .poa {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.con2 {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

.con2 .fz20 {
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    display: inline-block;
}

.con2 .fz38 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 500;
}

.con2 .fz38 span {
    color: #00dbaf;
    font-weight: 800;
}

.con2 .fz25 span {
    font-weight: 700;
}

.con3 {
    height: 610px;
    color: #fff;
    text-align: center;
    background-image: url(../img/con_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.con3 .inner-tx {
    padding-top: 35px;
}

.con3 .fz35 {
    line-height: 50px;
}

.con3 .fz35 span {
    font-weight: 700;
}

.con3 .fz19 {
    margin-top: 30px;
    line-height: 36px;
}

.con3 .fz19 span {
    position: relative;
    z-index: 1;
}

.con3 .fz19 span::after {
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #1affd1;
    opacity: 0.2;
}


.con3 .clb {
    width: 730px;
    margin: 10px auto 0;
}

.con3 .fll {
    width: 32%;
    margin-right: 2%;
}

.con3 .fll:last-child {
    margin-right: 0;
}

.con3 .fz18 {
    line-height: 50px;
    background-color: #fff;
    color: #222;
    border-radius: 5px;
}

.con3 .fz17 {
    padding-top: 15px;
    line-height: 24px;
}

.con8,
.con5,
.con4 {
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
}

.con8 .fz30,
.con5 .fz30,
.con4 .fz30 {
    padding-top: 30px;
    line-height: 40px;
    position: relative;
}

.con8 .fz30::after,
.con5 .fz30::after,
.con4 .fz30::after {
    content: "";
    width: 35px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #1fd9a7;
}

.con8 .fz30 span,
.con5 .fz30 span,
.con4 .fz30 span {
    font-weight: 700;
}

.con4 .clb {
    width: 1000px;
    margin: 40px auto;
}

.con4 .fll {
    width: 17.5%;
}

.con4 .fll:nth-child(2n) {
    width: 10%;
    margin-top: 40px;
}

.con4 .fz20 {
    line-height: 28px;
}

.con5 {
    border-top: 1px solid #eee;
    background-color: #f8f8f8;
}

.con5 .fz26 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: 500;
}

.con5 .fz26 .fz32 {
    position: relative;
    z-index: 1;
}

.con5 .fz26 .fz32::after {
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #19cda9;
    opacity: 0.4;
}

.con5 .box1 {
    width: 900px;
    margin: 0 auto;
    padding: 25px 0;
    background-color: #fff;
    border: 1px solid #7d7d7d;
    align-items: center;
    justify-content: center;
}

.con5 .box1 .fz19 {
    margin-left: 30px;
    font-weight: 700;
}

.con5 .clb {
    width: 900px;
    margin: 20px auto;
}

.con5 .fll {
    width: 32%;
    margin-right: 2%;
    margin-top: 30px;
    box-sizing: border-box;
}

.con5 .fll:nth-child(3n) {
    margin-right: 0;
}

.con5 .fll .box {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.con5 .fll .fz18 {
    line-height: 42px;
    padding: 0 30px;
    transform: translate(0, 21px);
    background-color: #444;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
}

.con5 .fll .fz17 {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid #e5e5e5;
    box-sizing: border-box;
    text-align: left;
}

.con5 .fll .top {
    margin-bottom: 20px;
}

.con5 .fll .top .fz22 {
    color: #8474db;
    font-weight: 800;
}

.con5 .fll .bottom .fz22 {
    color: #19cda9;
    font-weight: 800;
}
.con5 .fll .df{
    display: block;
    overflow: hidden;
}
.con5 .fll .df > .fz22{
    float: left;
}
.con5 .fll .df > .fz17{
    float: left;
}

.con6 {
    height: 400px;
    background-image: url(../img/con6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.con6 .inner-tx {
    padding-top: 100px;
}

.con6 .fz36 {
    margin-bottom: 40px;
}

.con6 .fz20 {
    line-height: 36px;
}

.con7 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}

.con7 .fz22 {
    line-height: 32px;
    text-align: center;
}

.con7 .clb {
    width: 700px;
    margin: 60px auto 40px;
}

.con7 .fll {
    width: calc(100%/3 - 40px/3);
    margin-right: 20px;
}

.con7 .fll:nth-child(2) {
    margin-top: -20px;
}

.con7 .fll:last-child {
    margin-right: 0;
}

.con7 .dib {
    width: 660px;
    margin: 0 auto;
    text-align: center;
}

.con7 .dib div {
    line-height: 42px;
    margin: 5px;
    padding: 0 20px;
    display: inline-block;
    background-color: #9bf0df;
    font-size: 18px;
    border-radius: 40px;
}

.con8 .dib {
    width: 900px;
    margin: 60px auto 0;
}

.con8 .dib a {
    margin: 10px 20px;
    display: inline-block;
    cursor: default;
}

.con9 {
    height: 260px;
    background-image: url(../img/con9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.con9 .inner-tx {
    padding-top: 110px;
    color: #fff;
    text-align: center;
}

.con10 {
    padding-top: 45px;
    padding-bottom: 100px;
    text-align: center;
}

.con10 .fz20 {
    margin-bottom: 20px;
    color: #7e65ff;
}

.con10 .btn {
    width: 300px;
    line-height: 60px;
    border-radius: 40px;
    background-color: #7e65ff;
    color: #fff;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
}