@charset "utf-8";

* {
	box-sizing: border-box;
}

.clb::after {
	content: "";
	clear: both;
	display: block;
}

.clb .fll {
	float: left;
}

.clb .flr {
	float: right;
}

.df {
	display: flex;
}

.fw-700 {
	font-weight: 700 !important;
}

.tac {
	text-align: center;
}


#fullpage {
	min-height: 100%;
}

#fullpage>.section {
	height: 100%;
}

#fullpage>.auto-height,
.auto-height .fp-tableCell {
	height: auto !important;
}

.wrap-1100 {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.wrap-800 {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.header {
	width: 100%;
	padding: 20px 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.header .logo {
	margin-top: 15px;
}

.footer {
	padding: 60px 0;
	background-color: #333;
	color: #fff;
}

.footer .top {
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .sns-wrap {
	margin-left: 20px;
}

.footer .sns-wrap a {
	margin-left: 15px;
}

.footer .bar {
	width: 100%;
	height: 1px;
	background-color: #fff;
}

.footer .bottom {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .bottom .left {
	align-items: center;
	color: #bbb;
}

.footer .bottom .left span {
	width: 1px;
	height: 10px;
	margin: 0 20px;
	background-color: #bbb;
}

.footer .bottom .right a {
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.footer .bottom .right a span {
	font-size: 20px;
	margin-left: 5px;
	color: #5c98cd;
}

.menu-wrap {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
}

.menu-wrap a.on {
	color: #81b9e4;
}

.menu-wrap span {
	width: 1px;
	height: 20px;
	margin: 0 50px;
	background-color: #fff;
}

.main .section {
	position: relative;
}

.title {
	font-size: 65px;
	font-weight: 300;
}

.sub-title {
	font-size: 45px;
	font-weight: 300;
	line-height: 1.5;
}

.desc {
	font-size: 25px;
	line-height: 1.7;
}

.main .section01 .wrap-1100 {
	position: relative;
}

.main .section01 .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.main .section01 .no-js .owl-carousel,
.owl-carousel.owl-loaded {
	height: 100%;
}

.main .section01 .owl-carousel .owl-stage-outer {
	height: 100%;
}

.main .section01 .owl-carousel .owl-stage {
	height: 100%;
}

.main .section01 .owl-carousel.owl-drag .owl-item {
	height: 100%;
}

.main .section01 .item {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.main .section01 .visual01 {
	background-image: url(../img/main-visual01.png);
}

.main .section01 .visual02 {
	background-image: url(../img/main-visual02.png);
}

.main .section01 .visual03 {
	background-image: url(../img/main-visual03.png);
}

.main .section01 .visual04 {
	background-image: url(../img/main-visual04.png);
}

.main .section02 .top {
	height: 60vh;
	background-image: url(../img/main-img1.png);
	background-repeat: no-repeat;
	background-position: center 0;
	display: flex;
	align-items: center;
}

.main .section02 .top .wrap-1100 {
	display: flex;
	justify-content: space-between;
}

.main .section02 .bottom {
	height: 40vh;
	padding-top: 30px;
}

.main .section02 .bottom>* {
	width: 50%;
}

.main .section02 .bottom .desc {
	font-size: 20px;
	color: #363636;
}

.main .section02 .bottom .sub-title span {
	display: block;
}

.main .section03 .top {
	background-image: url(../img/main-img2.png);
}

.main .section04 {
	background-image: url(../img/main-img7.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	position: relative;
}

.main .section04 .wrap-1100 {
	padding: 80px 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
}

.main .section04 .owl-carousel,
.owl-carousel .owl-item {
	position: static;
}

.main .section04 .tx-wrap {
	padding-top: 70px;
	padding-bottom: 50px;
	padding-left: 300px;
	padding-right: 100px;
}

.main .section04 .tx-wrap .desc {
	padding-top: 20px;
	font-size: 20px;
	color: #656565;
}

.main .section04 .owl-nav {
	position: absolute;
	bottom: 40px;
	left: 100px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
	padding: 10px !important;
	font-size: 30px !important;
}

.main .section04 #counter {
	position: absolute;
	bottom: 58px;
	left: 220px;
	font-size: 16px;
	color: #999;
}

.main .section04 #counter .fw-700 {
	color: #333;
}

.main .tx-wrap02 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.main .tx-wrap02-inner {
	max-width: 700px;
}

.main .tx-wrap02 .desc {
	margin-top: 30px;
}

.main .section05 {
	background-image: url(../img/main-img3.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.main .section06 {
	background-image: url(../img/main-img4.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.main .section07 {
	background-image: url(../img/main-img5.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.main .section08 {
	background-image: url(../img/main-img6.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.sub .sub-visual {
	position: relative;
}

.sub .tx-wrap01 {
	display: flex;
}

.sub .tx-wrap01>* {
	width: 50%;
}

.sub06 .sub-visual {
	height: 500px;
	background-image: url(../img/main-visual01.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.sub06 .tx-wrap01 {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, 0);
}

.sub06-con1 {
	padding: 50px 0 30px;
	text-align: center;
	border-bottom: 3px solid blue;
	font-size: 24px;
}

.form .row {
	width: 100%;
	display: flex;
}

.form .row {
	margin: 10px 0;
}

.form>.row {
	margin: 20px 0;
}

.form .col {
	width: 100%;
	margin: 0 3px;
}

.form .tx1 {
	min-width: 150px;
	font-size: 18px;
	line-height: 36px;
}

.form .form-left {
	width: 100%;
}

.form select {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
}

.form input {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
}

.form textarea {
	padding: 20px;
}

.form .btn {
	height: 36px;
	line-height: 36px;
	padding: 0 20px;
	border: 1px solid #666;
}

.sub-visual {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	position: relative;
}

.sub-visual.video-wrap .tx-wrap {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 10%;
	left: 0;
	color: #fff;
}

.sub-visual.video-wrap .tx-wrap .sub-title {
	color: #fff;
}

.sub-visual.video-wrap .btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.sub-visual .sub-title {
	margin-bottom: 20px;
}

.sub01 .sub-visual {
	background-image: url(../img/sub01-visual.jpg);
}

.sub02 .sub-visual {
	background-image: url(../img/sub02-visual.jpg);
}

.sub03 .sub-visual {
	background-image: url(../img/sub03-visual.jpg);
}

.sub02 .sub-visual .wrap-1100 {
	height: 100vh;
}

.sub02 .sub-visual .tx-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	color: #fff;
}

.sub01 .sub-title {
	margin-top: 100px;
	margin-bottom: 50px;
	color: #333;
}

.sub01-con1 {
	font-size: 21px;
	line-height: 1.5;
	color: #4c4c4c;
}

.sub01-con1 .item {
	margin-bottom: 20px;
	display: flex;
	background-color: #f4f4f4;
}

.sub01-con1 .tx-wrap {
	padding-top: 50px;
	padding-left: 40px;
	position: relative;
}

.sub01-con1 .tx2 {
	margin-bottom: 30px;
}

.sub01-con1 .tx3 {
	color: #838383;
}

.sub01-con1 .btn {
	width: 150px;
	padding: 5px 0;
	border-radius: 30px;
	border: 2px solid #959595;
	color: #838383;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 19px;
	position: absolute;
	bottom: 50px;
	left: 40px;
}

.sub01-con1 .btn img {
	margin-left: 10px;
}

.sub01-con2 .item-wrap {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.sub01-con2 .item-wrap li {
	padding: 2px 0;
	font-size: 19px;
	font-weight: 300;
	line-height: 1.5;
	color: #4e4e4e;
}

.sub01-con2 .item-wrap li:first-child {
	font-size: 21px;
	font-weight: 700;
	color: #000;
}

.sub01-con2 .item {
	padding-top: 20px;
	padding-bottom: 40px;
	border-top: 2px solid #e1e1e1;
	position: relative;
}

.sub01-con2 .item::after {
	content: "";
	width: 50px;
	height: 2px;
	position: absolute;
	top: -2px;
	left: 0;
}

.sub01-con2 .item.blue::after {
	background-color: #5c96c8;
}

.sub01-con2 .item.violet::after {
	background-color: #c355db;
}

.sub01-con2 .item.yellow::after {
	background-color: #f8de82;
}

.sub01-con2 .item.skyblue::after {
	background-color: #32d3d5;
}


.sub01-con2 .fll {
	width: calc(100%/3 - 60px/2);
	margin-right: 30px;
}

.sub01-con2 .fll:last-child {
	margin-right: 0;
}

.sub01-con2 .item-wrap2 {
	margin-bottom: 150px;
	padding: 40px 60px;
	border-top: 2px solid #e1e1e1;
	display: flex;
	justify-content: space-between;
	background-color: #f4f4f4;
	font-size: 19px;
	font-weight: 300;
	color: #4e4e4e;
	line-height: 1.5;
}

.sub01-con2 .item-wrap2 .tx1 {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 700;
	color: #000;
}

.sub01-con2 .item-wrap2 li {
	padding-left: 15px;
	position: relative;
}

.sub01-con2 .item-wrap2 li::after {
	content: "-";
	position: absolute;
	top: 0;
	left: 0;
}

.sub01-con2 .item2 {
	margin-bottom: 30px;
}

.sub01-con2 .fll2 {
	width: calc(100%/2 - 100px/2);
	margin-right: 100px;
}

.sub01-con2 .fll2:last-child {
	margin-right: 0;
}

.sub02-con1 {
	padding-top: 150px;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
}

.sub02-con1>* {
	width: calc(100%/2 - 20px/2);
}

.sub02-con1 .tx1 {
	margin-right: 20px;
	font-size: 45px;
	line-height: 1.2;
	color: #4e8abd;
}

.sub02-con2 {
	display: flex;
}

.sub02-con2 img {
	width: calc(100%/2 - 20px/2);
	margin-right: 20px;
}

.sub02-con2 img:last-child {
	margin-right: 0;
}

.sub02-con3 {
	margin-bottom: 150px;
}

.sub02-con4 img {
	width: 100%;
}

.sub03-con1 {
	padding: 200px 0;
	background-image: url(../img/sub03-img1.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.sub03-con1 .tx-wrap>*:nth-child(2) {
	padding: 80px 0 40px;
	font-size: 40px;
	font-weight: 500;
}

.sub03-con1 .tx-wrap>*:nth-child(3) {
	font-size: 20px;
}

.sub03-con2 {
	padding: 120px 0 50px;
	background-image: url(../img/sub03-img2.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	color: #fff;
}

.sub03-con2 .tx-wrap>*:nth-child(2) {
	padding-top: 40px;
	font-size: 40px;
	font-weight: 500;
}

.sub03-con3 {
	display: flex;
}

.sub03-con3 >*{
	width: 50%;
}
.sub03-con3 .img-wrap{
	margin-top: 240px;
}
.sub03-con3 .inner{
	position: relative;
}
.sub03-con3 .inner .tx1{
	margin-bottom: 0;
	position: absolute;
	bottom: -20px;
	left: 350px;
	font-size: 50px;
	font-weight: 500;
}
.sub03-con3 .tx-wrap{
	margin-top: 130px;
}
.sub03-con3 .tx{
	margin-bottom: 60px;
}
.sub03-con3 .tx1{
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 700;
	color: #000;
}
.sub03-con3 .tx2{
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
}
.sub03-con5{
	padding-top: 80px;
	padding-bottom: 100px;
}
.sub03-con5 .sub-title{
	margin-bottom: 40px;
}
.sub03-con5 .drop{
	padding: 0 20px;
	border-top: 1px solid #959595;
	border-bottom: 1px solid #e1e1e1;
	background-image: url(../img/icon16.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
	cursor: pointer;
}
.sub03-con5 .dropdown.on .drop{
	background-image: url(../img/icon15.png);
}
.sub03-con5 .down{
	display: none;
	padding: 20px;
}
.sub03-con5 .dropdown.on .down{
	display: block;
}
.sub03-con5 .tx{
	padding: 15px 0;
	display: flex;
	line-height: 1.3;
}
.sub03-con5 .tx1{
	min-width: 100px;
	font-size: 20px;
	font-weight: 700;
}
.sub03-con5 .tx2{
	font-size: 17px;
}
.sub03-con5 .tx3{
	font-size: 15px;
}
.sub03-con5 .bottom-tx{
	padding: 30px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f4f4f4;
}
.sub03-con5 .bottom-tx .tx1{
	font-size: 30px;
	font-weight: 500;
}
@media all and (max-width:1100px) {
	.wrap-1100 {
		width: 90%;
	}

	.main .section02 .top .wrap-1100 img {
		width: 33.333333%;
	}

	.main .section04 .wrap-1100 {
		max-height: 100%;
		padding: 40px;
	}

	.main .section04 .tx-wrap {
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
	}

	.main .section04 .owl-nav {
		left: 30px;
		bottom: 20px;
	}

	.main .section04 #counter {
		left: 140px;
		bottom: 38px;
	}
}

@media all and (max-width:768px) {
	.header {
		text-align: center;
		padding: 20px 10px;
		display: block;
	}

	.main .section02 .top .wrap-1100 img {
		display: none;
	}

	.footer .top {
		text-align: center;
		display: block;
	}

	.footer .sns-wrap {
		margin-top: 20px;
		margin-left: 0;
		display: block;
	}

	.footer .sns-wrap a {
		margin-left: 0;
		margin-right: 10px;
	}

	.footer .bottom {
		text-align: center;
		display: block;
	}

	.footer .bottom .left {
		display: block;
	}

	.footer .bottom .right {
		margin-top: 20px;
		justify-content: center;
	}

	.footer .bottom .right a {
		margin-left: 0;
		margin-right: 10px;
	}

	.menu-wrap {
		margin-top: 20px;
		font-size: 16px;
		justify-content: space-between;
	}

	.menu-wrap span {
		display: none;
	}

	.title {
		font-size: 36px;
	}

	.sub-title {
		font-size: 28px;
	}

	.desc {
		font-size: 16px;
	}

	.main .section02 {
		position: relative;
	}

	.main .section02 .top {
		height: 100vh;
		background-size: cover;
	}

	.main .section02 .bottom {
		height: auto;
		padding: 30px 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		display: block;
	}

	.main .section02 .bottom>* {
		width: 100%;
	}

	.main .section02 .bottom .sub-title span {
		display: inline-block;
	}

	.main .section02 .bottom .desc {
		margin-top: 20px;
		font-size: 16px;
	}

	.main .section04 .tx-wrap .desc {
		font-size: 16px;
	}
}