@charset "utf-8";

* {
	box-sizing: border-box;
}

.clb::after {
	content: "";
	clear: both;
	display: block;
}

.df {
	width: 100%;
	display: flex;
}

input[type=text] {
	height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 35px;
	font-size: 16px;
}

input[type=text]:disabled {
	background: none;
	color: #000;
}

input[type=radio] {
	display: none;
}

input[type=checkbox] {
	display: none;
}

.radio-type1 label {
	padding-left: 30px;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.radio-type1 label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

.radio-type1 label::after {
	content: "";
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #333;
	position: absolute;
	top: 50%;
	left: 6px;
	transform: translate(0, -50%);
}

.radio-type1 input:checked+label::after {
	display: block;
}

.check-type1 input+label::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	content: "\f0c8";
	color: #000;
}

.check-type1 input:checked+label::before {
	content: "\f14a";
}

.check-type1 label {
	display: flex;
	align-items: center;
}

select {
	height: 35px;
	line-height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	background-image: url(../img/bullet7.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
}

.br {
	display: block;
}

.wrap-1200 {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.wrap-1000 {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.wrap-700 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.w200 {
	width: 100%;
	max-width: 200px;
}

.w250 {
	width: 100%;
	max-width: 250px;
}

.w350 {
	width: 100%;
	max-width: 350px;
}

.w550 {
	width: 100%;
	max-width: 545px;
}

.w750 {
	width: 100%;
	max-width: 750px;
}

.fz50 {
	font-size: 50px;
}

.fz16 {
	font-size: 16px;
}

.mb0 {
	margin-bottom: 0 !important;
}

.ml0 {
	margin-left: 0 !important;
}

.mr0 {
	margin-right: 0 !important;
}

.mt0 {
	margin-top: 0 !important;
}

.ml5 {
	margin-left: 7px;
}

.mr5 {
	margin-right: 5px;
}

.pb80 {
	padding-bottom: 80px;
}

.pt100 {
	padding-top: 100px;
}

.pb0 {
	padding-bottom: 0 !important;
}

.fc-red {
	color: #e83131;
}

.fc-gray {
	color: #888;
}

.fc-black {
	color: #000;
}

.fw-500 {
	font-weight: 500;
}






.sub-con {
	padding-top: 100px;
	padding-bottom: 100px;
}

.sub-con .title-1 {
	margin-bottom: 70px;
	text-align: center;
}

.table {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #f4f4f4;
	color: #666;
}

.table .tr {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.table .th {
	max-width: 250px;
	min-width: 250px;
	height: 100%;
	padding-left: 50px;
	color: #333;
	font-size: 18px;
	line-height: 1.3;
}

.table .th span {
	padding-left: 3px;
	color: #0b356d;
}

.table .td {
	width: 100%;
	min-height: 70px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	display: flex;
	align-items: center;
	background-color: #fff;
	line-height: 1.4;
}

.table .td>* {
	margin-top: 2px;
	margin-bottom: 2px;
}

.table .td.col>* {
	margin-bottom: 5px;
}

.table .td.col>*:last-child {
	margin-bottom: 0;
}

.table .td.col {
	flex-direction: column;
	align-items: flex-start;
}

.table .td .btn {
	height: 35px;
	margin-left: 5px;
	padding-left: 23px;
	padding-right: 23px;
	line-height: 35px;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 16px;
	color: #666;
}

.table .td>* {
	margin-right: 5px;
}

.table .td .tx1 {
	font-size: 22px;
	font-weight: 700;
	color: #000;
	letter-spacing: -1.5px;
}

.table .td .tx33 {
	max-width: 500px;
	width: 100%;
	display: flex;
	align-items: center;
}

.table .td .tx33 input {
	width: 350px;
}

.table .td .tx44 {
	width: 150px;
}

.table .td .tx55 {
	max-width: 620px;
	width: 100%;
}

.table-2 {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.table-2 table {
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.table-2 tr {
	height: 50px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.table-2 td {
	vertical-align: middle;
	line-height: 1.2;
}

.table-2 .w70 {
	width: 70px;
}

.table-2 .w100 {
	width: 100px;
}

.table-2 .w120 {
	width: 120px;
}

.table-2 .fz18 {
	font-size: 18px;
}

.table-2 .tal {
	text-align: left;
}

.table-2 .bold {
	font-weight: 700;
}

.table-2 .blue {
	color: #0b356d;
}

.table-2 .gray {
	color: #888;
}

.table-2 .red {
	color: #e83131;
}

.table-2 .btn {
	height: 28px;
	padding: 0 12px;
	line-height: 28px;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 10px;
}

.table-2 .icon-q {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-2 .icon-q.type2 {
	color: #fff;
	background-color: #999;
}

.table-2 .btn.red {
	border: 1px solid #e83131;
}

.table-2 tr .down img {
	margin: 0 auto;
	vertical-align: middle;
}

.table-2 tr .down img:nth-child(1) {
	display: none;
}

.table-2 tr.on .down img:nth-child(1) {
	display: block;
}

.table-2 tr.on .down img:nth-child(2) {
	display: none;
}

.table-2 tr+.down-con {
	display: none;
}

.table-2 tr.on+.down-con {
	display: table-row;
}

.table-2 .down-con {
	background-color: #eee;
}

.table-2 .down-con td {
	padding: 40px 0;
	line-height: 1.5;
}

.table-3 {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.table-3 {
	font-size: 16px;
}

.table-3 .bold {
	font-weight: 700;
}

.table-3 .tr {
	display: flex;
}

.table-3 .tr.top {
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.table-3 .tr.top .td >div:nth-child(2){
	width: 100%;
	justify-content: space-between;
}
.table-3 .w100{
	width: 100px;
	text-align: center;
}

.table-3 .td {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.table-3 .td>* {
	display: flex;
	align-items: center;
}

.table-3 .down img {
	margin: 0 auto;
	vertical-align: middle;
}

.table-3 .down img:nth-child(1) {
	display: none;
}

.table-3 .on .down img:nth-child(1) {
	display: block;
}

.table-3 .on .down img:nth-child(2) {
	display: none;
}

.table-3 .down-con {
	background-color: #eee;
}

.table-3 .down-con .td {
	padding: 40px 0;
	line-height: 1.5;
}

.table-3 .top+.down-con {
	display: none;
}

.table-3 .top.on+.down-con {
	display: flex;
}
.table-3 .w70 {
	width: 70px;
	text-align: center;
}

.table-3 .w120 {
	width: 120px;
}

.table-3 .icon-q {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-3 .icon-q.type2 {
	color: #fff;
	background-color: #999;
}

.pageNavi {
	margin-top: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageNavi a {
	margin: 0 10px;
	color: #333;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.pageNavi a.on {
	color: #0b356d;
	font-weight: 700;
}

.pageNavi img {
	vertical-align: middle;
}

.my-datepicker {
	background-image: url(../img/icon1.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
}

.tx-t1 {
	display: flex;
	line-height: 1.2;
}

.tx-t1::before {
	content: "※";
	margin-right: 5px;
}

.title-1 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 1.3;
}

.title-1.type-2 {
	margin-bottom: 20px;
}

.sub .title-1 {
	text-align: center;
}

.title-2 {
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 30px;
	letter-spacing: -2px;
}

.title-3 {
	margin-bottom: 70px;
	font-size: 20px;
	text-align: center;
	line-height: 1.3;
}

.desc-1 {
	font-size: 15px;
	letter-spacing: -1px;
	line-height: 1.2;
	color: #666;
}

.number-type1 {
	position: relative;
	display: inline-block;
}

.number-type1 .number-wrap {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	display: flex;
	align-items: center;
}

.number-type1 .number-wrap input {
	width: 40px;
	padding: 0;
	background: none;
	border: none;
	text-align: center;
}

.number-type2 .number-wrap {
	display: flex;
	align-items: center;
}

.number-type2 .number-wrap input {
	width: 40px;
	padding: 0;
	background: none;
	border: none;
	text-align: center;
	font-size: 16px;
}

.number-wrap .minus,
.number-wrap .plus {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.btn-wrap-1 {
	margin-top: 50px;
	text-align: center;
}

.btn-wrap-1.col {
	width: 100%;
	max-width: 450px;
	margin: 30px auto 0;
	display: flex;
	flex-direction: column;
}

.btn-wrap-1.col .btn-1 {
	width: 100%;
	margin: 0;
}

.btn-wrap-1 .btn-1 {
	width: 170px;
	height: 50px;
	margin: 0 5px;
	line-height: 50px;
	font-size: 20px;
	border: 1px solid #666;
	color: #666;
}

.btn-wrap-1 .btn-1.blue {
	background-color: #0b356d;
	border: 1px solid #0b356d;
	color: #fff;
}

.btn-wrap-1 .btn-1.gray {
	margin-top: 5px;
	background-color: #cccccc;
	border: 1px solid #cccccc;
	color: #fff;
}
.btn-wrap-1 .btn-1.w-big{
	max-width: 400px;
	width: 100%;
}
#place-pick+.desc-1 > *{
	display: none;
}
#place-pick+.desc-1 > *.on{
	display: block;
}






.header {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
	position: fixed;
	z-index: 10;
}

.header .logo.type-2 {
	display: none;
}

.header.on {
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	top: -100px;
}

.header.on.active {
	top: 0;
}

.header .logo {
	width: 100px;
}

.header.on .logo.type-1 {
	display: none;
}

.header.on .logo.type-2 {
	display: block;
}

.header .wrap-1200 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .menu a {
	margin-right: 50px;
	font-size: 18px;
}

.header .menu a:last-child {
	margin-right: 0;
}

.header .menu a.on {
	font-weight: 700;
	color: #0b356d;
}

.header .menu-login {
	color: #aaa;
	font-size: 15px;
	display: flex;
	align-items: center;
}

.header .menu-login span {
	width: 1px;
	height: 15px;
	margin: 0 15px;
	background-color: #aaa;
	display: inline-block;
}

.header .btn-menu {
	display: none;
}

.m-menu {
	display: none;
}

.container {
	padding-top: 100px;
}

.main .container {
	padding-top: 0;
}

.sub .container {
	padding-bottom: 100px;
}

.footer {
	padding: 40px 0;
	background-color: #f5f5f5;
}

.footer .wrap-1200 {
	display: flex;
	align-items: center;
}

.footer .tx-wrap {
	padding-left: 120px;
}

.footer .link {
	padding-bottom: 40px;
	font-size: 15px;
	color: #333;
}

.footer .link span {
	width: 1px;
	height: 12px;
	margin: 0 13px;
	display: inline-block;
	background-color: #8a8a8a;
}

.footer .copy {
	color: #888;
	line-height: 1.8;
}

.footer .copy span {
	width: 1px;
	height: 12px;
	margin: 0 13px;
	display: inline-block;
	background-color: #c7c7c7;
}

.main-visual .item {
	height: 800px;
	padding-top: 130px;
	background-image: url(../img/00/img1.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	color: #fff;
}

.main-visual .item.type-2 {
	background-image: url(../img/00/img2.png);
}

.main-visual-nav {
	padding-top: 100px;
}

.main-visual-nav a {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border: 3px solid #fff;
	cursor: initial;
}

.main-visual-nav a.on {
	background-color: #ffcf06;
	border: 3px solid #ffcf06;
}

.main-visual .tx1 {
	padding-top: 60px;
	font-size: 65px;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: -1.5px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

.main-visual .tx1 span {
	color: #ffcf06;
}

.main-visual .tx2 {
	margin-top: 30px;
	font-size: 30px;
	line-height: 1.5;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

.main-visual .btn {
	margin-top: 60px;
	padding: 0 55px;
	line-height: 45px;
	font-size: 20px;
	border: 1px solid #fff;
}

.main-visual .owl-prev,
.main-visual .owl-next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.main-visual .owl-prev {
	left: 30px;
}

.main-visual .owl-next {
	right: 30px;
}

.main-con1 {
	padding-bottom: 100px;
	text-align: center;
}

.main-con1 .tx1 {
	padding-top: 100px;
	padding-bottom: 40px;
}

.main-con1 .tx2 {
	padding-top: 30px;
	font-size: 25px;
	font-weight: 500;
}

.main-con1 .tx3 {
	padding-top: 15px;
	font-size: 16px;
	line-height: 1.5;
}

.main-con1 .con1 {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}

.main-con3 {
	padding-bottom: 60px;
	background-color: #0b356d;
	text-align: center;
	color: #fff;
}

.main-con3 .tx1 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.main-con3 .tx2 {
	padding-top: 30px;
	font-size: 25px;
	font-weight: 500;
}

.main-con3 .tx3 {
	padding-top: 15px;
	font-size: 16px;
	line-height: 1.5;
}

.main-con3 .con1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-con3 .con1 .item {
	width: calc(100%/3 - 60px/3);
	padding: 0 50px 40px;
}

.main-con4 {
	padding-bottom: 100px;
	text-align: center;
	background-color: #dfe5f0;
}

.main-con4 .tx1 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.main-con4 .con1 {
	padding-bottom: 80px;
	font-size: 25px;
}

.main-con4 .con1 li {
	margin: 0 40px;
	padding: 0 0 10px;
	color: #999;
	display: inline-block;
	cursor: pointer;
}

.main-con4 .con1 li:nth-child(1).active {
	color: #e1b701;
	border-bottom: 1px solid #e1b701;
}

.main-con4 .con1 li:nth-child(2).active {
	color: #0b356d;
	border-bottom: 1px solid #0b356d;
}

.main-con4 .item {
	padding-right: 50px;
	padding-left: 50px;
	display: flex;
}

.main-con4 .item .img {
	min-width: 473px;
}

.main-con4 .item .tx-wrap {
	padding-left: 70px;
	padding-right: 60px;
	text-align: left;
}

.main-con4 .item .tx2 {
	padding-bottom: 40px;
	font-size: 50px;
	font-weight: 700;
	color: #e1b701;
	letter-spacing: -2.5px;
}

.main-con4 .item.type-2 .tx2 {
	color: #0b356d;
}

.main-con4 .item .tx3 {
	font-size: 16px;
	line-height: 1.5;
}

.main-con4 .item .tx3 span {
	font-size: 14px;
	color: #666;
}

.main-con4 .owl-prev,
.main-con4 .owl-next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.main-con4 .owl-prev {
	left: 0;
}

.main-con4 .owl-next {
	right: 0;
}

.main-con5 {
	padding: 100px 0 100px;
}

.main-con5 .con1 {
	display: flex;
	justify-content: space-between;
}

.main-con5 .tx2 {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -1.25px;
	line-height: 1.2;
}

.main-con5 .tx3 {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.5;
}

.main-con5 .item {
	width: calc(100%/2 - 40px/2);
	padding: 35px 20px 35px 50px;
	border: 1px solid #e1e1e1;
	display: flex;
	align-items: center;
}

.main-con5 .item img {
	margin-right: 50px;
}

.rsv-con1 .title-1 {
	padding-top: 70px;
	padding-bottom: 70px;
}

.rsv-con1 .con1 {
	padding-bottom: 50px;
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rsv-con1 .con1 .item {
	display: flex;
	align-items: center;
	color: #999;
}

.rsv-con1 .con1 .item.on {
	color: #000;
}

.rsv-con1 .con1 .tx-wrap {
	padding-left: 30px;
}

.rsv-con1 .con1 .tx1 {
	font-size: 20px;
}

.rsv-con1 .con1 .tx2 {
	margin-top: 6px;
	font-size: 24px;
	font-weight: 400;
}

.rsv-con1 .con1 .item.on .tx2 {
	font-weight: 700;
}

.rsv-con2 {
	display: flex;
}

.rsv-con2 .item {
	width: 50%;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	color: #666;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
}

.rsv-con2.type-1 .item:nth-child(1) {
	color: #edbf01;
	border: 3px solid #edbf01;
	border-bottom: 1px solid #fff !important;
	background-color: #fff;
}

.rsv-con2.type-1 .item:nth-child(2) {
	border-bottom: 3px solid #edbf01;
}

.rsv-con2.type-2 .item:nth-child(2) {
	color: #0b356d;
	border: 3px solid #0b356d;
	border-bottom: 1px solid #fff !important;
	background-color: #fff;
}

.rsv-con2.type-2 .item:nth-child(1) {
	border-bottom: 3px solid #0b356d;
}

.rsv-con3 .con1 {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.rsv-con3 .tx1 {
	padding-top: 28px;
	padding-bottom: 20px;
	border-top: 2px solid #000;
	font-size: 20px;
}

.rsv-con3 .tx2 {
	padding-top: 35px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: 700;
}

.rsv-con3 .tx3 {
	font-size: 15px;
	color: #666;
	letter-spacing: -1.2px;
	line-height: 1.3;
}

.rsv-con3 .tx4 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #666;
}

.rsv-con3 .tx5 {
	font-size: 18px;
}

.rsv-con3 .tx5::after {
	content: "";
	width: 60px;
	height: 1px;
	margin: 10px auto 0;
	background-color: #000;
	display: block;
}

.rsv-con3 .item {
	width: 100%;
	margin-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.rsv-con3 .item:last-child {
	margin-right: 0;
}

.rsv-con3 .item.on {
	border: 1px solid #edbf01;
}

.rsv-con3 .item .img-wrap {
	display: flex;
	justify-content: center;
}

.rsv-con3 .item .img-wrap img:nth-child(1) {
	display: none;
}

.rsv-con3 .item .img-wrap img:nth-child(2) {
	display: block;
}

.rsv-con3 .item.on .img-wrap img:nth-child(1) {
	display: block;
}

.rsv-con3 .item.on .img-wrap img:nth-child(2) {
	display: none;
}

.rsv-con3 .desc-1 {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px solid #000;
	line-height: 1.3;
}

.rsv-con6 {
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border: 2px solid #000;
}

.rsv-con6 .tx1 {
	font-size: 20px;
	color: #666;
}

.rsv-con6 .tx2 {
	margin-top: 10px;
	font-size: 30px;
}

.rsv-con6 .tx2 span {
	font-weight: 700;
}

.rsv-con7 .desc-1 {
	margin-top: 20px;
}

.rsv-con8 {
	text-align: center;
}

.rsv-con8 img {
	margin-top: 150px;
	margin-bottom: 50px;
}

.rsv-con8 .fz50 {
	margin-bottom: 70px;
}

.rsv-con8 .fz16 {
	max-width: 530px;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: left;
	letter-spacing: -0.8px;
}

.rsv-con8 .tx-t1 {
	line-height: 1.7;
}

.rsv-con8 .btn-1 {
	width: 250px;
	height: 60px;
	line-height: 60px;
}

.rsv-con9 .place-type1,
.rsv-con9 .place-type2 {
	display: none;
}

.rsv-con9 .place-type1.on,
.rsv-con9 .place-type2.on {
	display: block;
}

.wd-con1 {
	height: 670px;
	display: flex;
	align-items: center;
	background-image: url(../img/02/img1.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	text-align: center;
}

.wd-con1.air-con1 {
	background-image: url(../img/03/img1.png);
}

.wd-con1 .tx1 {
	margin-bottom: 25px;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

.wd-con1 .tx2 {
	font-size: 25px;
	font-weight: 500;
	line-height: 1.2;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

.wd-con2 .con1 {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.wd-con2 .item {
	width: calc(100%/3 - 60px/3);
	margin-right: 30px;
}

.wd-con2 .item:last-child {
	margin-right: 0;
}

.wd-con2 .tx1 {
	margin-top: 40px;
	font-size: 25px;
	font-weight: 700;
}

.wd-con2 .tx2 {
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.5;
}

.wd-con3 {
	background-color: #eee;
}

.wd-con3 .item {
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: #fff;
	position: relative;
}

.wd-con3 .title-1 {
	position: relative;
}

.wd-con3 .title-1 .use-info {
	width: 180px;
	height: 35px;
	padding: 0 20px;
	line-height: 35px;
	position: absolute;
	right: 0;
	top: 120%;
	font-size: 16px;
	font-weight: 400;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	letter-spacing: -1px;
}

/* .wd-con3 .item::after {
	content: "";
	width: 20px;
	height: 35px;
	background-image: url(../img/02/img8.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(0, -50%);
}

.wd-con3 .item:last-child::after {
	display: none;
} */

.wd-con4 .item {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wd-con4 .item:last-child {
	margin-bottom: 0;
}

.wd-con4 .item2 {
	width: 130px;
	text-align: center;
}

.wd-con4 .tx1 {
	width: 120px;
	font-size: 30px;
	font-weight: 700;
}

.wd-con4 .tx2 {
	width: 120px;
	font-size: 20px;
	font-weight: 700;
}

.wd-con4 .tx3 {
	font-size: 20px;
	margin-top: 5px;
}

.wd-con4 .con2 {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 45px;
	display: flex;
	align-items: center;
	background-color: #fff3c1;
}

.wd-con4 .con3 {
	display: flex;
	align-items: center;
}

.wd-con4 .con3>img {
	margin: 0 50px;
}

.wd-con4 .tx-t1 {
	margin-top: 25px;
	font-size: 16px;
	justify-content: center;
}

.wd-con5 .con1 {
	display: flex;
}

.wd-con5 .con2 {
	min-width: 580px;
	margin-right: 40px;
	position: relative;
}

.wd-con5 .con2:last-child {
	margin-right: 0;
}

.wd-con5 .tx-wrap {
	width: 100%;
	height: 94px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wd-con5 .tx-wrap .tx1 {
	margin-bottom: 4px;
	font-size: 20px;
	font-weight: 700;
}

.wd-con5 .tx-wrap .tx2 {
	font-size: 16px;
	line-height: 1.4;
}

.wd-con5 .tx-wrap .owl-dots {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wd-con5 .tx-wrap .owl-dot {
	width: 10px;
	height: 10px;
	margin: 0 8px;
	background-color: #999;
	border-radius: 100%;
}

.wd-con5 .tx-wrap .owl-dot.active {
	background-color: #fff;
}

.air-con2 {
	padding-bottom: 40px;
}

.air-con2 .con1 {
	text-align: center;
}

.air-con2 .item {
	width: 33%;
	margin-bottom: 60px;
	display: inline-block;
}

.air-con2 .tx1 {
	margin-top: 10px;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.3;
}

.air-con2 .tx2 {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.5;
}

.main-con1 .con2 {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.main-con1 .con2 .item {
	width: 25%;
}

.main-con1 .con2 .tx3 {
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
	color: #0b356d;
}

.main-con1 .con2 .tx4 {
	margin-top: 3px;
	font-size: 25px;
	font-weight: 700;
}

.main-con1 .con2 .tx5 {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.5;
}

.gd-con1 {
	background-color: #eee;
}

.gd-con1 .con1 {
	display: flex;
	justify-content: space-between;
}

.gd-con1 .con1 .item {
	width: 33%;
	text-align: center;
}

.gd-con1 .con1 .tx1 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
}

.gd-con1 .con1 .tx2 {
	font-size: 18px;
	line-height: 1.5;
}

.gd-con1 .con1 .tx3 {
	margin-top: 10px;
	color: #0b356d;
	font-size: 16px;
	line-height: 1.5;
}

.gd-con1 .con1 .tx4 {
	font-size: 16px;
	line-height: 1.5;
}

.gd-con2 {
	background-color: #dfe5f0;
}

.nt-con1 .con2 {
	margin-bottom: 20px;
	display: flex;
}

.nt-con1 .con2 .radio-type1 {
	margin-right: 25px;
	font-size: 20px;
}

.nt-con1 .con2 .radio-type1 label {
	color: #666;
}

.nt-con1 .con2 .radio-type1 input:checked+label {
	color: #000;
	font-weight: 700;
}

.main-con5.sub-con {
	padding-top: 100px;
}

.jo-con1 .con1 {
	font-size: 16px;
}

.jo-con1 .con1 .input-1 {
	margin: 15px 0;
	display: flex;
	align-items: center;
	position: relative;
}
.jo-con1 .con1 .flex-wrap-1>div {
	display: flex;
}

.jo-con1 .con1 .input-1 label {
	width: 125px;
}

.jo-con1 .con1 .input-1 label span {
	color: #0b356d;
}

.jo-con1 .con1 .input-1 input {
	width: 450px;
	height: 50px;
	line-height: 50px;
}

.jo-con1 .con1 .error-1 {
	margin-left: 125px;
	color: #0b356d;
}

.jo-con1 .con1 .input-1 .btn {
	width: 115px;
	height: 50px;
	margin-left: 10px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #666;
	border-radius: 10px;
	color: #666;
}

.jo-con1 .con2 .tx1 {
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
}

.jo-con1 .con2 .check-type1.bgc {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #dfe5f0;
	text-align: center;
	font-size: 20px;
}

.jo-con1 .con2 .check-type1 label {
	justify-content: center;
}

.jo-con1 .con2 .check-type1 label::before {
	margin-right: 8px;
}

.jo-con1 .con2 .check-type1.bottom {
	margin-bottom: 30px;
}

.jo-con1 .con2 .check-type1.bottom label {
	justify-content: initial;
	font-size: 16px;
}

.jo-con1 .con2 .check-type1.bottom label span {
	color: #e83131;
}

.jo-con1 .con2 .tx-box {
	margin: 20px 0 10px;
	padding: 10px;
	border: 1px solid #ccc;
	line-height: 1.3;
}

.jo-con2 {
	padding-top: 250px;
	padding-bottom: 150px;
	text-align: center;
}

.jo-con2 .tx1 {
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: 700;
	color: #0b356d;
}

.jo-con2 .tx2 {
	font-size: 20px;
	line-height: 1.6;
}

.jo-con2 .tx2.mb40 {
	margin-bottom: 60px;
}

.jo-con2 .tx3 {
	max-width: 700px;
	width: 100%;
	margin: 15px auto;
	display: flex;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}

.jo-con2 .btn-wrap-1 {
	margin-top: 80px;
}

.jo-con2 .tx4 {
	margin-bottom: 20px;
	font-size: 25px;
	line-height: 1.5;
}

.jo-con2 .tx4 span {
	font-weight: 700;
	color: #0b356d;
}

.jo-con2 .black {
	color: #000;
}

.jo-con1 .con3 {
	width: 100%;
	max-width: 450px;
	margin: 20px auto 0;
	padding-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #ccc;
	font-size: 16px;
	color: #666;
}

.jo-con1 .con3 .bar {
	width: 1px;
	height: 10px;
	margin: 0 20px;
	background-color: #ccc;
}

.mp-con1 .con1 {
	display: flex;
}

.mp-con1 .con1 .left {
	width: 220px;
	margin-right: 30px;
}

.mp-con1 .con1 .left .tx1 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	background-color: #0b356d;
	text-align: center;
}

.mp-con1 .con1 .left a {
	padding: 15px 0;
	display: block;
	font-size: 20px;
	color: #888;
}

.mp-con1 .con1 .left a.on {
	font-weight: 700;
	color: #000;
}

.mp-con1 .con1 .left .box {
	padding: 15px 50px;
	border: 1px solid #ccc;
	border-top: none;
}

.mp-con1 .con1 .right {
	width: 950px;
}

.mp-con1 .con1 .top-link {
	height: 45px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	border-bottom: 3px solid #000;
	position: relative;
}

.mp-con1 .con1 .top-link .poa {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #000;
}

.mp-con1 .con1 .top-link .poa label {
	margin-right: 10px;
}

.mp-con1 .con1 .top-link .poa input {
	width: 280px;
	font-size: 16px;
}

.mp-con1 .con1 .top-link .poa .btn {
	height: 35px;
	margin-left: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid #666;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: #666;
}

.mp-con1 .con1 .top-link>* {
	font-size: 20px;
	color: #666;
}

.mp-con1 .con1 .top-link>*.on {
	color: #000;
	font-weight: 700;
}

.mp-con1 .con1 .top-link span {
	font-size: 18px;
	font-weight: 400;
}

.mp-con1 .con1 .top-link span b {
	color: #0b356d;
	font-weight: 500;
}

.mp-con1 .con1 .top-link .bar {
	width: 1px;
	height: 20px;
	margin: 0 20px;
	background-color: #ccc;
}

.mp-con1 .con2 {
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.mp-con1 .ing-1 {
	padding: 45px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mp-con1 .ing-1 .tx2-wrap {
	font-size: 16px;
}

.mp-con1 .ing-1 .tx2-wrap span {
	margin-left: 18px;
	font-size: 18px;
}

.mp-con1 .ing-1 .tx2-wrap .red {
	color: #e83131;
}

.mp-con1 .ing-1 .tx2 {
	display: flex;
}

.mp-con1 .ing-1 .tx2:nth-child(2) {
	margin-top: 20px;
}

.mp-con1 .ing-1 .tx3-wrap {
	display: flex;
	font-size: 20px;
	color: #999;
}

.mp-con1 .ing-1 .tx3-wrap .tx3 {
	margin: 0 2px;
	padding: 15px 18px;
	position: relative;
}

.mp-con1 .ing-1 .tx3-wrap .tx3::after {
	content: "";
	width: 100%;
	height: 5px;
	border-radius: 20px;
	background-color: #ccc;
	position: absolute;
	left: 0;
	bottom: 0;
}

.mp-con1 .ing-1 .tx3-wrap .tx3:nth-child(1).on {
	color: #e83131;
}

.mp-con1 .ing-1 .tx3-wrap .tx3:nth-child(1).on::after {
	background-color: #e83131;
}

.mp-con1 .ing-1 .tx3-wrap .tx3:nth-child(2).on {
	color: #7d9d2f;
}

.mp-con1 .ing-1 .tx3-wrap .tx3:nth-child(2).on::after {
	background-color: #7d9d2f;
}

.mp-con1 .ing-1 .tx3-wrap .tx3:nth-child(3).on {
	color: #3bbfdb;
}

.mp-con1 .ing-1 .tx3-wrap .tx3:nth-child(3).on::after {
	background-color: #3bbfdb;
}

.mp-con1 .tx-bottm {
	padding: 10px 30px;
	font-size: 16px;
	background-color: #f3f3f3;
	color: #666;
}

.mp-con1 .tx-bottm .tx-t1 {
	margin-bottom: 5px;
}

.mp-con1 .tx-bottm .tx-t1:last-child {
	margin-bottom: 0;
}

.mp-con1 .ing-1 .tx4-wrap .tx4 {
	width: 100px;
	display: flex;
	align-items: center;
	font-size: 16px;
	justify-content: flex-end;
}

.mp-con1 .ing-1 .tx4-wrap .tx4 img {
	margin-left: 8px;
}

.mp-con1 .con2 .tx4-wrap .tx4:nth-child(1) {
	display: flex;
}

.mp-con1 .con2 .tx4-wrap .tx4:nth-child(2) {
	display: none;
}

.mp-con1 .con2.on .tx4-wrap .tx4:nth-child(1) {
	display: none;
}

.mp-con1 .con2.on .tx4-wrap .tx4:nth-child(2) {
	display: flex;
}

.mp-con1 .ing-1 .tx5 {
	width: 290px;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
}

.mp-con1 .con2.on+.mp-con2 {
	display: block;
}

.mp-con2 {
	margin-top: -10px;
	margin-bottom: 20px;
	padding: 30px 30px 50px;
	display: none;
	border: 1px solid #ccc;
	border-top: none;
}

.mp-con2 .title-3 {
	margin-bottom: 20px;
	text-align: left;
}

.mp-con2 .title-3.mt30 {
	margin-top: 30px;
}

.mp-con2 .tx-t1 {
	margin-bottom: 10px;
	font-size: 15px;
	color: #666;
}

.mp-con2 .tx-t1:first-child {
	margin-top: 20px;
}

.mp-con2 .tx-t1:last-child {
	margin-bottom: 0;
}

.mp-con3 {
	margin-bottom: 50px;
	padding: 30px 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #dfe5f0;
}

.mp-con3 .tx-5 {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;
}

.mp-con4 {
	padding-bottom: 15px;
	border-bottom: 3px solid #000;
	display: flex;
	flex-wrap: wrap;
}

.mp-con4 .item-1 {
	width: calc(100%/3 - 20px/3);
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 50px 0;
	text-align: center;
	border: 1px solid #ccc;
}

.mp-con4 .item-1:nth-child(3n) {
	margin-right: 0;
}

.mp-con4 .item-1 .tx1 {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;
}

.mp-con4 .item-1 .img-cp {
	position: relative;
}

.mp-con4 .item-1 .img-cp .tx-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mp-con4 .item-1 .img-cp .tx2 {
	font-size: 16px;
}

.mp-con4 .item-1 .img-cp .tx3 {
	margin-top: 10px;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.mp-con4 .item-1 .tx4 {
	margin-top: 25px;
	font-size: 16px;
	color: #888;
}

.mp-con4 .item-1 .blue {
	color: #0b356d;
}

.mp-con4 .item-1 .green {
	color: #256061;
}

.mp-con5 .table {
	border-top: none;
	color: #000;
}

.select-bul {
	background-image: url(../img/bullet7.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
	cursor: pointer;
}

.popup_overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.3);
}

.popup {
	display: none;
	padding: 100px 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 21;
	overflow-y: auto;
}

.popup_inner {
	max-width: 550px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: #fff;
	position: relative;
}

.popup .btn-popup-close {
	position: absolute;
	top: 4px;
	right: 20px;
	fill: #fff;
}

.popup .top {
	background-color: #0b356d;
}

.popup .tx1 {
	padding: 13px 30px;
	color: #fff;
	font-size: 22px;
}

.popup .tx-t1 {
	margin-bottom: 10px;
	line-height: 1.4;
	font-size: 16px;
}

.popup .tx-t1:last-child {
	margin-bottom: 10px;
}

.popup .tx-t1.red {
	color: #e83131;
}

.popup .con {
	padding: 25px 30px;
}


.popup .input-wrap {
	margin-top: 20px;
}

.popup .input-wrap:first-child {
	margin-top: 0;
}

.popup .input-wrap .df {
	display: flex;
}

.popup .input-wrap .df .btn {
	width: 70px;
	margin-left: 5px;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.popup .radio-type1 .img {
	width: 180px;
	height: 80px;
	background-image: url(../img/coupon2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.popup .radio-type1 .img.type2 {
	background-image: url(../img/coupon3.png);
}

.popup .bottom-wrap {
	margin-top: 30px;
	text-align: center;
}

.popup .bottom-wrap .btn-bottom {
	width: 120px;
	margin: 0 5px;
	line-height: 38px;
	font-size: 16px;
	background-color: #0b356d;
	color: #fff;
	border-radius: 10px;
}

#popup-pu-1 .tx2 {
	margin-bottom: 7px;
	display: block;
	font-size: 18px;
}

#popup-pu-1 .tx3 {
	margin-top: 6px;
	color: #e83131;
	font-size: 16px;
}

#popup-pu-2 .tx2 {
	font-size: 16px;
	line-height: 1.3;
}

#popup-pu-2 .tx3 {
	padding-top: 28px;
	padding-bottom: 6px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3;
}

#popup-pu-2 .con1 {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: -30px;
	margin-right: -30px;
	padding: 0 30px 30px;
	background-color: #f6f6f6;
}

#popup-pu-3 .radio-type1 {
	margin-bottom: 10px;
}

#popup-pu-3 .radio-type1:last-child {
	margin-bottom: 0;
}

#popup-pu-3 .box {
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
}

#popup-pu-3 .img {
	display: flex;
	align-items: center;
	justify-content: center;
}

#popup-pu-3 .txwrap {
	color: #fff;
	text-align: center;
}

#popup-pu-3 .tx-wrap {
	padding-left: 20px;
}

#popup-pu-3 .tx4 {
	margin-bottom: 10px;
	font-size: 12px;
}

#popup-pu-3 .tx5 {
	font-size: 24px;
	font-weight: 700;
}

#popup-pu-3 .tx3 {
	font-size: 20px;
	line-height: 1.2;
}

#popup-pu-3 .tx6 {
	margin-top: 6px;
	font-size: 16px;
	color: #888;
}

#popup-pu-3 .tx2 {
	margin-bottom: 20px;
	font-size: 18px;
}

#popup-pu-3 .tx2.mt50 {
	margin-top: 50px;
}

#popup-pu-4 .tx2 {
	font-size: 20px;
	font-weight: 700;
}

#popup-pu-4 .tx3 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.3;
}

#popup-pu-4 .con1 {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: -30px;
	margin-right: -30px;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #f6f6f6;
}

#popup-pu-4 .tx4 {
	padding-bottom: 5px;
	font-size: 50px;
	font-weight: 700;
	position: relative;
}

#popup-pu-4 .tx4::after {
	content: "";
	height: 1px;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 0;
	background-color: #000;
}

#popup-pu-4 .blue .tx4::after {
	background-color: #0b356d;
}

#popup-pu-4 .tx5 {
	margin-top: 6px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -1px;
}

#popup-pu-4 .blue {
	color: #0b356d;
}

#popup-pu-4 .code-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#popup-pu-4 .code-wrap .le {
	margin-right: 10px;
}

#popup-pu-4 .bottom-tx {
	width: 230px;
	margin: 30px auto 0;
	font-size: 18px;
}

#popup-pu-4 .bottom-tx .bold {
	font-weight: 700;
}

#popup-pu-4 .tx6 {
	margin-bottom: 10px;
}

#popup-pu-4 .tx6:last-child {
	margin-bottom: 0;
}

#popup-pu-4 .tx7 {
	font-size: 16px;
	line-height: 1.3;
}

#popup-pu-5 .box {
	border: 1px solid #ccc;
}

#popup-pu-5 .box .inner {
	padding: 10px 20px 0;
}

#popup-pu-5 .top-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#popup-pu-5 .df {
	align-items: center;
}

#popup-pu-5 .img {
	width: 55%;
}

#popup-pu-5 .tx2 {
	font-size: 20px;
	font-weight: 700;
}

#popup-pu-5 .tx3 {
	font-size: 20px;
	font-weight: 700;
}

#popup-pu-5 .tx4 {
	margin-top: 8px;
	font-size: 16px;
}

#popup-pu-5 .btn {
	width: 120px;
	text-align: center;
	line-height: 35px;
	border-radius: 10px;
	font-size: 16px;
}

#popup-pu-5 .btn.yellow {
	background-color: #fdd00c;
}

#popup-pu-5 .btn.blue {
	background-color: #0b356d;
	color: #fff;
}

#popup-pu-5 .bot:nth-child(2) {
	display: none;
}

#popup-pu-5 .box {
	margin-bottom: 10px;
}

#popup-pu-5 .box:last-child {
	margin-bottom: 0;
}

#popup-pu-5 .box.on .bot:nth-child(1) {
	display: none;
}

#popup-pu-5 .box.on .bot:nth-child(2) {
	display: flex;
}

#popup-pu-5 .owl-wrap {
	padding: 20px;
	display: none;
}

#popup-pu-5 .box.on .owl-wrap {
	display: block;
}

#popup-pu-5 .owl-wrap .owl-dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

#popup-pu-5 .owl-wrap .owl-dot {
	width: 15px;
	height: 15px;
	margin: 0 5px;
	border: 1px solid #000;
	background-color: #fff;
	opacity: 0.5;
}

#popup-pu-5 .owl-wrap .owl-dot.active {
	background-color: #000;
	opacity: 0.9;
}

#popup-pu-5 .bot {
	width: 100%;
	padding: 15px 0;
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

#popup-pu-6 .con1 {
	margin: 50px -30px 0;
	display: flex;
	justify-content: space-between;
	background-image: url(../img/pop-img7.png);
	background-repeat: no-repeat;
	background-position: center 50px;
}

#popup-pu-6 .con1 .tx {
	width: 33%;
	text-align: center;
}

#popup-pu-6 .tx2 {
	margin-top: 20px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
}

#popup-pu-6 .tx2.blue {
	color: #0b356d;
}

#popup-pu-6 .tx3 {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.3;
	color: #333;
}

#popup-pu-6 .con2 {
	margin-top: 40px;
	font-size: 20px;
}

#popup-pu-6 .con2 .bold {
	font-weight: 700;
	display: inline-block;
}

#popup-pu-6 .con2 label {
	flex-wrap: wrap;
	line-height: 1.3;
}

#popup-pu-6 .con2 label::before {
	margin-right: 10px;
}

#popup-pu-7 .w400 {
	width: 100%;
	max-width: 400px;
}

#popup-pu-7 .tx2 {
	font-size: 20px;
	font-weight: 700;
}

#popup-pu-7 .tx3 {
	margin-top: 8px;
	font-size: 16px;
	color: #333;
}

#popup-pu-7 .con1 {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;
}

#popup-pu-7 .con1 .df {
	justify-content: space-between;
	align-items: center;
}

#popup-pu-7 .con1:last-child {
	border-bottom: none;
}

#popup-pu-7 .minus,
#popup-pu-7 .plus {
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

#popup-pu-7 .number-wrap input {
	width: 30px;
	height: 30px;
	background-color: #ccc;
	color: #fff;
}

#popup-pu-7 .tx5 {
	margin-top: 15px;
	padding: 10px 20px;
	background-color: #f2f2f2;
	color: #666;
	text-align: center;
	font-size: 14px;
	line-height: 1.3;
}

.number-quantity.on {
	background-color: #0b356d !important;
}


@media all and (max-width:1200px) {
	.wrap-1200 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.wd-con4 .item {
		margin-bottom: 30px;
		flex-direction: column;
	}

	.wd-con4 .tx1 {
		margin-bottom: 30px;
		text-align: center;
	}

	.wd-con5 .con1 {
		flex-direction: column;
	}

	.wd-con5 .con2 {
		margin-right: 0;
	}

	.wd-con5 .con2:nth-child(1) {
		margin-bottom: 20px;
	}

	.wd-con5 .con2 img {
		width: 100%;
	}

	.mp-con1 .con1 {
		flex-direction: column;
		align-items: center;
	}

	.mp-con1 .con1 .left {
		width: 100%;
		max-width: 950px;
		margin: 0 auto 40px;
		display: flex;
		align-items: center;
	}

	.mp-con1 .con1 .left .tx1 {
		width: 200px;
		height: 65px;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mp-con1 .con1 .left .box {
		width: 100%;
		height: 65px;
		padding: 0 50px;
		display: flex;
		align-items: center;
		border-top: 1px solid #ccc;
	}

	.mp-con1 .con1 .left a {
		margin-right: 50px;
		font-size: 18px;
	}
}

@media all and (max-width:1024px) {
	.header {
		height: 80px;
	}

	.header .logo {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.header .menu {
		display: none;
	}

	.header .menu-login {
		display: none;
	}

	.header .btn-menu {
		display: block;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translate(0, -50%);
	}

	.header .btn-menu svg {
		fill: #fff;
	}

	.header.on .btn-menu svg {
		fill: #000;
	}

	.header .btn-menu svg:nth-child(2) {
		display: none;
	}

	.header .btn-menu.on svg:nth-child(1) {
		display: none;
	}

	.header .btn-menu.on svg:nth-child(2) {
		display: block;
	}

	.m-menu-bg {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 9;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.m-menu-bg.on {
		display: block;
	}

	.m-menu {
		max-width: 240px;
		width: 100%;
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: -240px;
		z-index: 10;
		background-color: #fff;
		border-top: 1px solid #ccc;
		color: #000;
		transition: all 0.4s;
	}

	.m-menu.on {
		left: 0;
	}

	.m-menu a {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		display: block;
		border-bottom: 1px solid #ccc;
		font-size: 16px;
	}

	.m-menu .btn-menu-close {
		padding: 0;
		position: absolute;
		top: 10px;
		right: 10px;
		border-bottom: none;
	}

	.main-visual .owl-nav {
		display: none;
	}

	.main-con4 .item {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}

	.main-con4 .owl-carousel .owl-item img {
		width: auto;
		margin: 0 auto;
	}

	.main-con4 .item .tx-wrap {
		max-width: 425px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.rsv-con1 .con1 .item {
		flex-direction: column;
	}

	.rsv-con1 .con1 .tx-wrap {
		margin-top: 20px;
		padding-left: 0;
		text-align: center;
	}

	.sub .container {
		padding-top: 80px;
	}

	.table .td {
		flex-wrap: wrap;
		font-size: 16px;
	}

	.table .td input {
		font-size: 16px;
	}

	.table .td>*:last-child {
		margin-right: 0;
	}

	.table .th {
		font-size: 16px;
	}

	.table .th.w250 {
		min-width: auto;
		max-width: 150px;
		padding-left: 20px;
	}

	.wd-con4 .con2 {
		padding-left: 0;
		flex-direction: column;
	}

	.wd-con4 .tx2 {
		margin-bottom: 20px;
		text-align: center;
	}

	.wd-con4 .con3>img {
		margin: 0 10px;
	}

	.mp-con1 .con1 .right {
		max-width: 950px;
		width: 100%;
	}

	.mp-con3 {
		padding: 40px 20px;
		flex-direction: column;
	}

	.mp-con3 img {
		margin-bottom: 30px;
	}

	.mp-con3 .tx-5 {
		font-size: 16px;
	}

	.table .td .tx33 input {
		width: 250px;
	}

	.rsv-con9 .jim-1 {
		flex-wrap: wrap;
	}

	.rsv-con9 .jim-1>* {
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

@media all and (max-width:768px) {
	.main-visual-nav {
		padding-top: 40px;
	}

	.main-visual .item {
		height: 600px;
	}

	.main-visual .tx1 {
		padding-top: 40px;
		font-size: 35px;
	}

	.main-visual .tx2 {
		margin-top: 20px;
		font-size: 20px;
	}

	.main-visual .btn {
		margin-top: 100px;
	}

	.main-visual .item.type-2 {
		background-position: right -350px top 0;
	}

	.title-1 {
		font-size: 30px;
	}

	.main-con1 {
		padding-bottom: 70px;
	}

	.main-con1 .tx1 {
		padding-top: 70px;
	}

	.main-con1 .con1 {
		flex-direction: column;
	}

	.main-con1 .con1 .item {
		margin-bottom: 50px;
	}

	.main-con1 .con1 .item:last-child {
		margin-bottom: 0;
	}

	.wd-con2 .con1 {
		flex-direction: column;
	}

	.wd-con2 .item {
		max-width: 425px;
		width: 100%;
		margin: 0 auto 60px;
	}

	.wd-con2 .item:last-child {
		margin-bottom: 0;
	}

	.wd-con3 .item {
		max-width: 425px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.wd-con2 .item:last-child {
		margin-right: auto;
	}

	.main-con3 .tx1 {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.wd-con3 .title-1 .use-info {
		top: 130%;
	}

	.wd-con3 .title-1 {
		margin-bottom: 70px !important;
	}

	.sub-con {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.main-con3 .con1 .item {
		max-width: 425px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 60px;
		padding-left: 0;
		padding-right: 0;
	}

	.main-con4 .tx1 {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.main-con4 .item .img {
		min-width: auto;
	}

	.main-con4 .item .tx2 {
		font-size: 35px;
	}

	.main-con4 {
		padding-bottom: 70px;
	}

	.main-con4 .con1 {
		padding-bottom: 60px;
	}

	.main-con4 .owl-nav {
		display: none;
	}

	.main-con5 .con1 {
		flex-direction: column;
	}

	.main-con5 .item {
		width: 100%;
		margin-bottom: 30px;
		padding-left: 30px;
	}

	.main-con5 .item:last-child {
		margin-bottom: 0;
	}

	.main-con5 .item img {
		margin-right: 30px;
	}

	.footer .wrap-1200 {
		flex-direction: column;
	}

	.footer .tx-wrap {
		padding-left: 0;
	}

	.footer .logo {
		width: 100px;
		margin-bottom: 30px;
	}

	.footer .link {
		padding-bottom: 20px;
		line-height: 1.3;
		font-size: 12px;
	}

	.footer .link a {
		margin: 7px 0;
	}

	.footer .copy {
		font-size: 14px;
	}

	.rsv-con1 .con1 {
		max-width: 425px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}

	.rsv-con1 .con1 .tx1 {
		font-size: 16px;
	}

	.rsv-con1 .con1 .tx2 {
		font-size: 18px;
	}

	.rsv-con1 .con1 .item img {
		width: 70px;
		height: 70px;
	}

	.rsv-con1 .con1 .bullet {
		width: 10px;
	}

	.rsv-con1 .title-1 {
		padding-bottom: 40px;
	}

	.rsv-con2 .item {
		font-size: 16px;
	}

	.rsv-con3 .con1 {
		flex-wrap: wrap;
	}

	.rsv-con3 .item {
		width: calc(100%/2 - 20px/2);
		margin-right: 0;
		margin-bottom: 20px;
	}

	.title-2 {
		font-size: 24px;
	}

	.table .tr {
		flex-direction: column;
	}

	.table .th.w250 {
		max-width: 100%;
		line-height: 40px;
		text-align: left;
	}

	.table .w350 {
		width: 100%;
		max-width: 100%;
	}

	.table .w250 {
		width: 100%;
		max-width: 100%;
	}

	.table .td>* {
		margin-right: 0;
	}

	.rsv-con9 .jim-1>* {
		margin-right: 0;
	}

	.rsv-con9 .jim-1 a {
		margin-left: 0 !important;
	}

	.m-ml0 {
		margin-left: 0 !important;
	}

	.rsv-con6 .tx1 {
		font-size: 16px;
	}

	.rsv-con6 .tx2 {
		font-size: 25px;
	}

	.main-con5 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.phone-1 {
		flex-wrap: initial !important;
	}

	.fz50 {
		font-size: 30px;
	}

	.rsv-con8 img {
		margin-top: 70px;
	}

	.rsv-con8 .fz50 {
		margin-bottom: 40px;
	}

	.table {
		margin-left: -20px;
		margin-right: -20px;
	}

	.wd-con1 .tx1 {
		font-size: 30px;
	}

	.wd-con1 .tx2 {
		font-size: 20px;
	}

	.wd-con1 {
		height: 400px;
	}

	.wd-con4 .tx3 {
		font-size: 16px;
	}

	.wd-con4 .con3>img {
		width: 6px;
	}

	.wd-con4 {
		padding-left: 0;
		padding-right: 0;
	}

	.wd-con4 .item2 {
		width: 80px;
	}

	.wd-con4 .tx-t1 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.wd-con5 .con2 {
		min-width: auto;
	}

	.air-con2 .con1 {
		flex-wrap: wrap;
	}

	.air-con2 .item {
		width: 250px;
	}

	.sub-con .title-1 {
		margin-bottom: 30px;
	}

	.main-con1 .con2 {
		flex-wrap: wrap;
		justify-content: center;
	}

	.main-con1 .con2 .item {
		width: 320px;
		margin-bottom: 20px;
		padding-right: 20px;
		padding-left: 20px;
	}

	.gd-con1 .con1 {
		flex-direction: column;
	}

	.gd-con1 .con1 .item {
		max-width: 320px;
		width: 100%;
		margin: 0 auto 20px;
	}

	.nt-con1 .table-2 {
		margin-left: -20px;
		margin-right: -20px;
	}

	.table-2 .gray.w100 {
		display: none;
	}

	.jo-con1 .con1 .input-1 {
		flex-direction: column;
		align-items: initial;
	}

	.jo-con1 .con1 .input-1 label {
		width: 100%;
		margin-bottom: 10px;
	}

	.jo-con1 .con1 .input-1 input {
		width: 100%;
		max-width: 425px;
	}

	.jo-con1 .con1 .error-1 {
		margin-left: 0;
	}

	.wrap-700 {
		max-width: 425px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.jo-con1 .con1 .flex-wrap-1>div {
		display: flex;
	}

	.jo-con1 .con2 .check-type1 label {
		font-size: 18px;
	}

	.jo-con2 .tx1 {
		font-size: 35px;
	}

	.jo-con2 .tx2 {
		font-size: 18px;
	}

	.btn-wrap-1 .btn-1 {
		width: 150px;
		font-size: 18px;
	}

	.table .td .btn {
		padding-left: 15px;
		padding-right: 15px;
	}

	.table-2 td:last-child.w100 {
		width: 50px;
	}

	.table-2 td:nth-child(3) {
		width: calc(100% - 240px);
	}

	.mp-con1 .ing-1 {
		flex-direction: column;
	}

	.mp-con1 .ing-1 .tx3-wrap {
		margin: 30px 0 40px;
	}

	.mp-con1 .con2.on+.mp-con2 .table {
		margin-left: -30px;
		margin-right: -30px;
	}

	.mp-con1 .con1 .left a {
		margin-right: 0;
	}

	.mp-con1 .con1 .left {
		flex-direction: column;
	}

	.mp-con1 .con1 .left .tx1 {
		min-width: 150px;
		width: 100%;
		height: 40px;
		display: none;
	}

	.mp-con1 .con1 .left .box {
		height: 100px;
		padding: 0;
		flex-wrap: wrap;
	}

	.mp-con1 .con1 .left .box a {
		width: 50%;
		text-align: center;
	}
	.mp-con1 .con1 .left .box a.on{
		background-color: #f2f2f2;
	}
	.mp-con1 .con1 .left .box a:nth-child(1),
	.mp-con1 .con1 .left .box a:nth-child(2){
		border-bottom: 1px solid #ccc;
	}
	.mp-con1 .con1 .left .box a:nth-child(odd){
		border-right: 1px solid #ccc;
	}

	.mp-con1 .ing-1 .tx4-wrap .tx4 {
		justify-content: center;
	}

	.mp-con1 .ing-1 .tx5 {
		margin: 20px 0;
		text-align: center;
	}

	.mp-con1 .con1 .mp-con3+.top-link {
		padding-bottom: 100px;
	}

	.mp-con1 .con1 .mp-con3+.top-link .poa {
		top: 40px;
	}

	.mp-con1 .con1 .mp-con3+.top-link .poa label {
		min-width: 95px;
	}

	.mp-con1 .con1 .mp-con3+.top-link .poa input {
		width: 100%;
	}

	.mp-con4 .item-1 {
		width: 100%;
		margin-right: 0;
	}

	.mp-con1 .con1 .top-link.type-3 {
		margin: 0 -20px;
	}

	.mp-con1 .con1 .top-link.type-3 .poa {
		right: 20px;
	}

	.table .td .tx33 {
		flex-wrap: wrap;
	}

	.popup .con {
		padding: 20px 10px;
	}

	#popup-pu-4 .con1 {
		margin-left: -10px;
		margin-right: -10px;
	}

	#popup-pu-6 .con1 {
		margin-left: -10px;
		margin-right: -10px;
	}

	.rsv-con3 .tx3 {
		min-height: 40px;
	}

	.mp-con1 .ing-1 .tx3-wrap {
		font-size: 16px;
	}

	.td .w550 {
		width: 100%;
		max-width: 100%;
	}

	#popup-pu-5 .df {
		margin: 20px 0;
	}

	#popup-pu-5 .tx3 {
		line-height: 1.3;
	}
	.table-3 .td{
		flex-direction: column;
		align-items: initial;
	}
	.table-3 .down{
		display: none;
	}
	.table-3 .tr.top .td >div:nth-child(2) >div:nth-child(1){
		margin-top: 20px;
		padding: 0 20px;
	}
	.table-3 .down-con .td{
		padding: 20px 0;
	}
	.m-ty1{
		justify-content: space-between;
	}
}
@media all and (max-width:425px) {
	.m-mt5{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}